.component {
    padding: 2em;

    h2 {
        color: $fgcode;
    }
}

.whoami,
.projects,
.other,
.contactme {
    @extend .component;
}

.whoami {
    p {
        margin: 3px;
        padding: 10px;
        background: $bgcode;
        border-radius: $borderRadius;

        span {
            color: $fgcode;
        }
    }
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    min-height: 200px;

    .project {
        max-width: 400px;
        width: 100%;

        div {
            border-radius: $borderRadius;
            padding: 10px;
            margin: 1em 0;
            box-shadow: 0 0 20px 3px black;
            background-size: cover;
            text-align: center;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-blend-mode: multiply;
            background-color: rgb(60, 60, 60);

            h3 {
                margin-bottom: 10px;
            }
        }
    }
}
